/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right bottom, #00193F, #3A7998);
    overflow: hidden;
}

html {
    font-family: 'Mulish', sans-serif;
}
